<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>HOME ASSISTANT INFO</h1>
<p>Serial number: <%= serial_number %></p>
<p>WAN IP: <%= wan_ip %></p>


<p>
    <a href="http://<%= wan_ip %>:8123">Home Assistant</a>
</p>

</body>
</html>